.header-image img {
    display: block;
    margin: 0 auto;
}
.header-background-image {
    background: no-repeat center;
    background-size: cover!important;
    -moz-background-size: cover!important;
    -webkit-background-size: cover!important;
}

.header-background-image .title-box {
    background: #333;
    background: hsla(0, 0%, 0%, .7);
}
.site-branding {
    padding: 2rem 0;
    text-align: center;
    background: #2c86ba;
    background: hsl(202, 62%, 45%);
}

.site-title {
    font-weight: 700;
    font-size: 40px;
    font-size: 3rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    // text-transform: uppercase;
    line-height: normal;
    // padding-bottom: 1rem;
}

.site-description {
    font-weight: 100;
    font-size: 20px;
    font-size: 1.5rem;
}
                    
.title-box {
    width: 600px;
    max-width: 75%;
    padding: 1rem;
    margin: 0 auto;
    border: solid 1px #fff;
    border: solid 1px hsla(0, 0%, 100%, .3);
    p {
        margin-bottom: 0px;
    }
}
                    
.site-branding a { 
    text-decoration: none; 
}

.site-title a,
.site-description { 
    color: #fff;
    color: hsl(0, 0%, 100%);
}
                    
/* Header responsive */
@media screen and (max-width: 600px) {
    .site-branding { padding: 0; }
    
    .title-box {
        max-width: 100%;
        margin: 0;
        padding: 4rem;
        border: none;
    }
}